<%
  def entity_to_html(entity)
    if entity.is_a?(Array)
      if entity.length == 1
        entity_to_html(entity.first)
      else
        "<ul><li>#{entity.map { |e| entity_to_html(e) }.join('</li><li>')}</li></ul>"
      end
    elsif entity.is_a?(ROCrate::Entity)
      label = entity['name'] || entity.id
      if entity.external?
        "<a href=\"#{entity.id}\" target=\"_blank\">#{label}</a>"
      else
        label
      end
    else
      entity
    end
  end
%>
<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= name || "New RO-Crate" %></title>
  <script type="application/ld+json"><%= metadata.generate %></script>
  <meta name="generator" content="https://github.com/ResearchObject/ro-crate-ruby">
  <meta name="keywords" content="RO-Crate">
  <meta charset="utf-8">
</head>
<body>
  <h1><%= name || "New RO-Crate" %></h1>
  <% if url %>
    <a href="<%= url %>" target="_blank"><%= url %></a>
  <% end %>
  <p>
    <%= description %>
  </p>
  <dl>
    <% if author %>
      <dt>Author</dt>
      <dd><%= entity_to_html author %></dd>
    <% end %>
    <% if contact_point %>
      <dt>Contact</dt>
      <dd><%= entity_to_html contact_point %></dd>
    <% end %>
    <% if publisher %>
      <dt>Publisher</dt>
      <dd><%= entity_to_html publisher %></dd>
    <% end %>
    <% if license %>
      <dt>License</dt>
      <dd><%= entity_to_html license %></dd>
    <% end %>
  </dl>

  <h2>Contents</h2>
  <ul>
    <% data_entities.each do |data_entity| %>
      <li>
        <strong><%= entity_to_html data_entity %></strong>
        <% if data_entity.content_size %>
          <br/>Size: <%= entity_to_html data_entity.content_size %>
        <% end %>
        <% if data_entity.encoding_format %>
          <br/>Format: <%= entity_to_html data_entity.encoding_format %>
        <% end %>
      </li>
    <% end %>
  </ul>
</body>
</html>
